@import url('normalize.css');
@import url('grid.css');

body {
  background-image: url("../images/tenpinbowling2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  font-family: Verdana, Geneva, sans-serif;
}

a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  color: black;
}

.col-6-10 {
  padding-left: 10%;
  text-align: center;
}

.row-3 {
  font-weight: bold;
}

td {
  width: 20%;
  padding-top: 0.5em;
}


